.completeTask {
    background-color: green;
}

#toDoListContainer {
    width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
};

.taskDiv {
    width : 100%;
    background-color: blue;
};